In [1]:
1+1

2

In [2]:
1/2

0.5

In [3]:
2*4

8

In [4]:
2**4

16

In [7]:
x=2
y=5
z=x+y
print(z)

7

In [8]:
'single quotes'

'single quotes'

In [9]:
"hi"

'hi'

In [10]:
"indian's"

"indian's"

In [13]:
x="python"
print(x)

python

In [20]:
num=12
name= 'sam'
print('my number is:{one},and my name is:{two}'.format(one=num,two=name))

my number is:12,and my name is:sam

In [22]:
num=12
name= 'sam'
print('my number is :{},and my name is:{}'.format(num,name))

my number is :12,and my name is:sam

In [31]:
my_list=['a','b','c']
my_list.append('e')
my_list

['a', 'b', 'c', 'e']

In [29]:
my_list[0]

'a'

In [30]:
my_list[-1]

'e'

In [32]:
my_list[:2]

['a', 'b']

In [1]:
print(True,False)

True False

In [2]:
type(False)

bool

In [22]:
True and False

False

In [21]:
my_str="python123"

In [20]:
my_str.islower()

True

In [23]:
my_str.isalnum()

True

 True and False

In [24]:
type([])

list

In [26]:
student_name_mark=['rohan','ram',95,96]

In [27]:
len(student_name_mark)

4

In [29]:
student_name_mark.append('mohit')

In [30]:
student_name_mark

['rohan', 'ram', 95, 96, 'mohit']

In [31]:
student_name_mark[1:4]

['ram', 95, 96]

In [32]:
lt=[2,3,6,5,8,9]

In [33]:
sum(lt)

33

In [1]:
1>2

False

In [2]:
5>3

True

In [3]:
2<=8

True

In [5]:
if 1<6:
    print('6 is larger')

6 is larger

In [6]:
if 2<6:
    print("right")
else :
    print('wrong')

right

In [7]:
if 2>6:
    print("right")
else :
    print('wrong')

wrong

In [8]:
if 1==2:
    print('first')
elif 3==3:
    print('middle')
else:
    print('last')

middle

In [9]:
if 1==1:
    print('first')
elif 3==3:
    print('middle')
else:
    print('last')

first

In [10]:
if 1==2:
    print('first')
elif 3==4:
    print('middle')
else:
    print('last')

last

In [11]:
seq=[1,2,3,4,5]

In [15]:
for item in seq:
    print(item)

1
2
3
4
5

In [16]:
2+3

5

In [17]:
range(5)

range(0, 5)

In [18]:
for i in range(5):
    print(i)

0
1
2
3
4

In [19]:
list(range(5))

[0, 1, 2, 3, 4]

In [20]:
x=[1,2,3,4]

In [21]:
out=[]
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [22]:
[item**2 for item in x]

[1, 4, 9, 16]

In [28]:
def times2(var):
    return var*2

In [30]:
times2(2)

4

In [33]:
st="hello my name is"

In [34]:
st.lower()

'hello my name is'

In [35]:
st.upper()

'HELLO MY NAME IS'

In [36]:
st.split()

['hello', 'my', 'name', 'is']